body {
    margin : 0;
    padding : 0;
}

#header {
    display : flex;
    background: teal;
    height : 50px;
    justify-content : space-around;
    font-size : 20px;
    font-weight : bold;
    align-items : center;
}

#header a{
    text-decoration : none;
    color : black;
}

#brewerySelect{
    display : block;
    margin : auto;
    margin-top : 40px;
    width : 30%;
    height : 40px;
    font-size : 20px;

}

#breweryTable {
    margin : auto;
    margin-top : 50px;
    text-align : left;
    border-collapse : collapse;

}
#breweryTable thead{
    text-align : center;
    font-size : 20px;
}
#breweryTable tr{
    border : 1px solid teal;
}

#breweryTable th , td{
    border : 1px solid teal;
    padding : 10px 5px;
}

#breweryTable tr td:last-child{
   cursor : pointer;
}

